@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

/* Genel stil ayarları */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .2s;
    font-family: "Source Serif 4", serif; /* Genel font ailesi */
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #242424; /* Genel metin rengi */
}

/* Tablo stil ayarları */
table{
    margin: auto;
    text-align: left;
}
td{
    padding: 5px;
    padding-right: 10px;
}

/* Devre dışı (inactive) stil ayarları */
.inactive{
    display: none !important;
}

/* Aktif (active) stil ayarları */
.active{
    display: flex !important;
}

/* Genel sayfa arka plan rengi */
body{
    background-color: #f6f6f6;
}

/* Giriş bölümü stil ayarları */
.introduction{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}
.introduction h1{
    font-size: 81px;
    font-weight: bold; /* Başlık font kalınlığı */
}
.introduction span{
    color: #3A0FE4; /* Başlık altı çizgi rengi */
}
.introduction h2{
    font-size: 22px;
    font-weight: 400;
}
.introduction button{
    background-color: #3A0FE4; /* Buton arka plan rengi */
    color: #f6f6f6; /* Buton metin rengi */
    width: 230px;
    height: 50px;
    border-radius:50px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 100px;
    border: 0px solid #3A0FE4;
    cursor: pointer;
}

/* Süslemeler */
.dec-line{
    position: absolute;
    width: 20px;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #3A0FE4;
}

.dec-line2{
    position: absolute;
    width: 100vw;
    height: 20px;
    bottom: 0;
    left: 0;
    background-color: #3A0FE4;
}

/* Başlık konteyneri stil ayarları */
.title-cont{
    padding-top: 50px;
    text-align: center;
}
.title-cont .sub-title{
    font-size: 18px;
    color: #242424;
}
.title-cont .title, .title-cont .title span{
    color: #3A0FE4;
    font-size: 38px;
    font-weight: bold; /* Başlık font kalınlığı */
}

/* Zamanlayıcı konteyneri stil ayarları */
.timer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin: 45px 0;
}
.timer{
    height: 5px;
    border-radius: 50px;
    width: 100%;
    margin-top: 5px;
    background-color: #3A0FE4;
    transition: all 1.5s;
}

/* Soru konteyneri stil ayarları */
.question-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 770px;
    margin: auto;
    max-width: 80%;
}

/* Seçenekler konteyneri stil ayarları */
.options-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

/* Quiz bölümü stil ayarları */
.quiz{
    display: none;
    flex-direction: column;
}

/* Seçenek stil ayarları */
.options-container .option{
    border: 1px solid rgb(224, 226, 235);
    border-radius: 4px;
    color: rgb(0, 15, 51);
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
}
.options-container .option span{
    width: 100%;
}
.options-container .option:hover{
    border: 1px solid rgb(0, 15, 51);
}

/* Sonraki butonu devre dışı bırakma stil ayarları */
#nextButton:disabled {
    opacity: 0.5;
}

/* Soru konteyneri içindeki sonraki butonu stil ayarları */
.question-container #nextButton{
    background-color: #3A0FE4; /* Buton arka plan rengi */
    color: #f6f6f6; /* Buton metin rengi */
    width: 100px;
    height: 40px;
    border-radius:50px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    border: 0px solid #3A0FE4;
    cursor: pointer;
}

/* Soru metni stil ayarları */
.question{
    font-size: 30px;
    font-weight: bold; /* Soru metni font kalınlığı */
    margin-bottom: 50px;
}

/* Seçilen seçenek stil ayarları */
.selected{
    border: 1px solid #3A0FE4 !important;
    box-shadow: 0 0 4px #3A0FE4;
}
